<!-- the template module is responsible for handling the presentation layer of web applications. Templates are files that define the structure and layout of the HTML pages to be rendered and displayed to the user. They provide a way to separate the design and presentation from the underlying code and logic. -->
<h1>{{ title }}</h1>
<p>{{ description }}</p>
<form action = "" method = "post", style="background-color: #E0E0E2;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
{% endfor %}